#formulario {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 40px auto;
}

.caixa-texto {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  border: 0;
  padding: 10px;
  border-radius: 10px;
  resize: none;
  font-family: montserrat;
  font-size: 12px;

}

.botao {
  font-family: "montserrat";
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  border: 0;
  background: #4f4c9c;
  color: var(--branco);
  ;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  margin: auto;
}